#labelespaco{
    margin-top: -30px;
}
#inputblock{
    background-color: #daf4fd;
}
hr {
    background-color:#c5d1d9;
    height: 1px;
}

#inforedefinirsenha{
    font-size:20px;
    text-align:center;
}
